@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --main-content: 48rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

@layer base {
  ul, ol {
    list-style: revert;
    @apply my-4 pl-8 
  }
}
/* } MAIN CONTENT STYLING */

.main {
  max-width: var(--main-content);
  min-height: 100vh;
}



.h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-3;
}

.h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-3;
}
.project.link {
  @apply text-4xl font-medium
}

.navbar {
  max-width: var(--main-content);
  justify-content: start;

}


@media (max-width: 600px) {
  .opt-img {
    display: none;
  }
}



/* END MAIN CONTENT STYLING  */





/* Anything under the .prose block applies to the blog posts only */
.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-3;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-3;
}
.prose h3 {
  @apply text-lg font-medium tracking-tight mt-6 mb-3;
}

.prose a {
  @apply underline text-green-600 hover:text-blue-800 visited:text-green-600
}

.prose p {
  margin-bottom: 1rem;
}